h1,
p {
  text-align: center;
}

li {
  font-size: 18px;
  list-style: none;
}
li:active {
  font-family: fantasy;
  color: tomato;
}

li:hover {
  background-color: blanchedalmond;
}

ul,
ol {
  background-color: beige;
}
