.super-mario {
  width: 200px;
  position: absolute;
  left: 150px;
  top: 160px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 450px;
  left: 200px;
  z-index: 1;
}

.baloon {
  position: absolute;
  top: 250px;
  left: 400px;
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 1;
  top: 290px;
  left: 420px;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 400px;
  left: 670px;
}
